{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssg": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
  // "presets": [
  //   "next/babel"
  // ],
  // "plugins": [
  //   [
  //     "styled-components",
  //     {
  //       "ssr": true
  //     }
  //   ]
  // ]
}